<div class="mx-auto right mb-15">
  <button mat-button (click)="showCards()" [ngClass]="{'btn-secondary': typeToShow === 'cards'}">
    Cards view
  </button>
  <button mat-button (click)="showTable()" [ngClass]="{'btn-secondary': typeToShow === 'table'}">
    Table view
  </button>

</div>

<ng-container *ngIf="typeToShow === 'table'">
  <app-list [tableRef]="tableRef" [data]="data">
  </app-list>
</ng-container>
<ng-container *ngIf="typeToShow === 'cards'">
  <app-cards [cardRef]="cardRef" [data]="data"></app-cards>
</ng-container>
