.bg-completed {
  background-color: #85cc95;
}

.card-content {
  padding: 0 20px;
}

.card-actions {
  display: flex;
  justify-content: space-around;
}

mat-card-actions button {
  font-size: 0.75em;
  padding: 0 5px;
  line-height: 24px;
}
