<form class="todo-add-form" [formGroup]="todoForm" (ngSubmit)="onFormSubmit()">

  <mat-form-field class="todo-add-full-width" appearance="fill">
    <mat-label>Content</mat-label>
    <input matInput formControlName="content" [(ngModel)]="currentTodo.content" [errorStateMatcher]="matcher"
           placeholder="Ex. Send offer">
  </mat-form-field>

  <mat-form-field class="todo-add-full-width" appearance="fill">
    <mat-label>Importance</mat-label>
    <mat-select formControlName="importance" [(ngModel)]="currentTodo.importance" [errorStateMatcher]="matcher">
      <mat-option *ngFor="let imp of importances" [value]="imp">
        {{todoImportance[imp]}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="todoForm.get('importance').hasError('required')">
      You must make a selection
    </mat-error>
  </mat-form-field>

  <!-- [value]="todoForm.status" -->
  <mat-checkbox
    *ngIf="currentTodo && currentTodo.id"
    formControlName="status"
    [(ngModel)]="currentTodo.status"
    [value]="falseValue"
    (change)="checkboxChange($event.source, $event.checked)"
    class="todo-add-margin mb-10">Done?
  </mat-checkbox>

  <mat-form-field
    class="todo-add-full-width"
    *ngIf="currentTodo && currentTodo.id" appearance="fill">
    <mat-label>Created at</mat-label>
    <input matInput formControlName="createdAt"
           [(ngModel)]="currentTodo.createdAt"
           [matDatepicker]="datepicker"
           [value]="date.value">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>

  <div class="button-row">
    <button type="submit" mat-flat-button color="primary">SAVE</button>
  </div>
</form>
